@font-face {
  font-family: "Sora";
  src: url(../Sora/static/Sora-Regular.ttf);
}
:root {
  --primary: #0d6efd;
  --dark: #21252f;
  --body: #888;
  --white: #ffffff;
  --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
}
body {
  font-family: "Sora", sans-serif;
  line-height: 1.7;
  color: var(--body);
}

h1,
h2,
h3,
h4,
h5,
h6,
.display-4 {
  color: var(--dark);
  font-weight: 700;
}

a {
  color: var(--dark);
  text-decoration: none;
}

img {
  width: 100%;
}

/* ***** start navbar ***** */
.nav-link {
  color: var(--dark);
  font-weight: 700;
}
.nav-link:hover {
  color: var(--body);
}
/* ***** end navbar ***** */

/* ***** start header ***** */
.header {
  background: linear-gradient(rgba(0, 0, 33, 0.7), rgba(0, 0, 24, 0.8)),
    url(../img/cover.jpg) center center/cover no-repeat fixed;
  height: 100vh;
  animation: scale-up-center 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
/* ***** end header ***** */

/* ***** start services ***** */
.card:hover .services-card-title {
  color: #fff;
}
.services-card:hover .card-text {
  color: #fff !important;
}
.services-card:hover .card-icon {
  color: #0d6efd !important;
  background-color: #fff !important;
}
.services-card {
  position: relative;
  z-index: 10;
  transition: all 0.4s;
  box-shadow: var(--box-shadow);
}
.services-card::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  background-color: #0d6efd;
  z-index: -3;
  transition: all 0.4s;
}
.services-card:hover::after {
  height: 100%;
}
.services-card:hover {
  transform: translateY(-5px);
  box-shadow: none;
}
/* ***** end services ***** */

/* ***** start feature ***** */
.feature {
  background-color: #f8f9fa;
}
.feature img {
  object-fit: cover;
}
/* ***** end feature ***** */

/* ***** start project ***** */
.card-project .card-img-overlay {
  background-color: rgba(0, 0, 33, 0.7);
  transition: all 0.5s ease-in-out;
  opacity: 0;
}
.card-project {
  overflow: hidden;
}
.card-img-project {
  transition: all 0.5s ease-in-out;
}
.card-project:hover .card-img-overlay {
  opacity: 1;
}
.card-project:hover .card-img-project {
  transform: scale(1.2);
}
/* ***** end project ***** */

/* ***** start price ***** */
.price {
  background-color: #f8f9fa;
}
.price-cord {
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  transition: all 0.3s ease-in-out;
}
.price-cord:hover {
  box-shadow: none;
  transform: translateY(5px);
}
/* ***** end price ***** */

/* ***** start team ***** */
.member {
  box-shadow: var(--box-shadow);
  transition: all 0.3s;
}
.member:hover {
  box-shadow: none;
  transform: translateY(5px);
}
.member .ccc {
  width: 55% !important;
}

.team-card-icon a {
  transition: all 0.3s;
}
.team-card-icon a:hover {
  background-color: var(--white) !important;
  color: var(--primary) !important;
  outline: 2px solid var(--primary);
}
/* ***** end team ***** */

/* ***** start blog ***** */
.blog {
  background-color: #f8f9fa;
}
.blog-card-title:hover {
  color: var(--primary);
}
.blog-card {
  box-shadow: var(--box-shadow);
  transition: all 0.4s;
}
.blog-card:hover {
  box-shadow: none;
  transform: translateY(5px);
}
/* ***** end blog ***** */


/* ***** start contact ***** */
.contact form input,
.contact form textarea{
  background-color: #f8f9fa;
}
/* ***** end contact ***** */


/* ***** start footer ***** */
.footer-top{
  background-color: #21252F;
}
.footer-top .list-group-item:hover{
  color: var(--white);
}
.footer-bottom{
  background-color: #242933;
}
.footer-icon a{
  transition: all .3s ease-in-out;
}
.footer-icon a:hover{
  color: var(--primary)!important;
  background-color: #242933!important;
  outline: 2px solid var(--primary);
}

@media screen and (min-width: 992px) {
  .footer-logo{
    width: 60%!important;
    margin-top: -1rem;
  }
}
/* ***** end footer ***** */

